a:hover {
    cursor: pointer;
}

.player-container {
    max-width: 754px;
    margin: 0 auto;
}

#mainPlayer .fa {
    font-size: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav>li {
    position: initial !important;
}